In [3]:
import pandas as pd

In [21]:
def fov(x1, x2, x3, x4):
    if (x1 + x2 + x3 - 2*x4) <= -2:
        ret = -2
    elif -1 <= (x1 + x2 + x3 - 2*x4) <= 1:
        ret = 0
    else:
        ret = 1
    return ret

In [22]:
outcomes = []
for x_1 in range (-1, 2):
    for x_2 in range (-1, 2):
        for x_3 in range(-1, 2):
            for x_4 in range(-1, 2):
                ret = fov(x_1, x_2, x_3, x_4)
                out = [x_1, x_2, x_3, x_4, ret]
                outcomes.append(out)

In [23]:
df = pd.DataFrame(outcomes)
display(df.head(81))

    0  1  2  3  4
0  -1 -1 -1 -1  0
1  -1 -1 -1  0 -2
2  -1 -1 -1  1 -2
3  -1 -1  0 -1  0
4  -1 -1  0  0 -2
.. .. .. .. .. ..
76  1  1  0  0  1
77  1  1  0  1  0
78  1  1  1 -1  1
79  1  1  1  0  1
80  1  1  1  1  0

[81 rows x 5 columns]

In [24]:
 df.to_excel('df.xlsx')